@charset "UTF-8";
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: georgia;
    padding: 10px;
    background: #f1f1f1;
  }
  
  /* 页眉/Blog 标题 */
  .header {
    padding: 20px;
    text-align: left;
    background: white;
  }
  
  .header h1 {
    font-size: 50px;
  }
  
  /* 设置上导航栏的样式 */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* 设置 topnav 链接的样式 */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* 改变鼠标悬停时的颜色 */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }


  /*取消链接下划线
  a {
    text-decoration: none;
  }
  */
  
  /*链接设为黑色*/
  a {
    color:rgb(0, 0, 0)
  }
  
  /* 创建两个不相等的彼此并排的浮动列 */
  /* 左列 */
  .leftcolumn {   
    float: left;
    width: 60%;
  }
  
  /* 右列 */
  .rightcolumn {
    float: right;
    width: 37%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }
  
  /* 伪图像 */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* 为文章添加卡片效果 */
  .card {
    background-color: rgba(0, 0, 0, 0.13);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    margin-top: 20px;
  }

  /* 清除列之后的浮动 */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* 页脚 */
  .footer {
    padding: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.644);
    margin-top: 20px;
  }
  
  /* 响应式布局 - 当屏幕的宽度小于 950 像素时，使两列堆叠而不是并排 */
  @media screen and (max-width: 950px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* 响应式布局 - 当屏幕的宽度小于 650 像素时，使导航链接堆叠而不是并排 */
  @media screen and (max-width: 650px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
  
  /* 给卡片赋予动画效果 */
  .card {
    position: relative;
    animation-name: animation;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-direction: reverse;
  }
  
  /* 给页脚赋予动画效果 */
  .footer {
    position: relative;
    animation-name: animation;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-direction: reverse;
  }
  /* 动画效果属性 */
  @keyframes animation {
    from  { top:0px;}
    to    { top:300px}
  }
  
  /* 居左 id */
  #lef {
      float: left;
  }
  
  /* 居右 id */
  #rig {
      float: right;
  }
      
  /* 居中 id */
  #mid {
    text-align: center;
  }
    