@charset "UTF-8";

body {
    font-family: Georgia;
}

/*顶栏 CSS 开始*/

.toptitle {
    margin-left: 20px;
    float: left;
}

#toolman {
    overflow: hidden;/*用 div 工具人清除浮动*/
}

.toplink {
    margin-top: 25px;
    margin-right: 30px;
    float: right;
}

/*顶栏 CSS 结束*/

/*主内容 CSS 开始*/

.box0 {/*特殊 box； 开口与 boxb 等效*/
    margin: 40px 15% 40px 0%;
    padding: 20px;
	border-top-style:solid;
	border-bottom-style:solid;
	border-right-style:solid;
}

.boxa {/*开口朝右*/
    margin: 40px 0% 40px 15%;
    padding: 20px;
	border-top-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
}

.boxb {/*开口朝左*/
    margin: 40px 15% 40px 0%;
    padding: 20px;
	border-top-style:solid;
	border-bottom-style:solid;
	border-right-style:solid;
}

.boxbp {/*boxb 的文字右对齐*/
    text-align: right;
}
/*主内容 CSS 结束*/

/*页脚 CSS 开始*/

#footer {
    margin-top: 40px;
}

/*github*/
#github {
    float: left;
    margin-left: 30%;
}

/*联系方式*/
#mail {
    float: left;
    margin-left: 20px;
}

/*CC*/
#cc {
    float: left;
    margin-left: 20px;
}

/*页脚 CSS 结束*/

/*$$$$$$$$$$$$$$$ 以下是一些零碎的 CSS $$$$$$$$$$$$$$$*/

/*取消链接下划线
a {
text-decoration: none;
}
*/
  
/*链接设为黑色*/
a {
color:rgb(0, 0, 0)
}

/* main 的链接鼠标变化*/
.main a:hover { 
    color: rgb(94, 94, 94)
}

.main a:active {
    color: #dcdcdc;;
}

/*响应式布局开始*/

@media screen and (max-width: 750px) {
    #github {
        float: none;
        text-align: center;
        margin-bottom: 10px;
        margin-left: 0px;
    }
    #mail {
        float: none;
        text-align: center;
    }
    #cc {
        float: none;
        text-align: center;
    }
    .toplink {
        float: none;
        text-align: center;
        margin-right: 0px;
    }
    .toptitle {
        float: none;
        text-align: center;
        margin-left: 0px;
    }
}